@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.header{
    width: 100%;
    margin: 0;
}

.container2 {
    max-width: 950px;
    margin: 30px auto;
    /*overflow: auto;*/
    min-height: 300px;
    border: 1px solid steelblue;
    padding: 30px;
    border-radius: 5px;
    background-color: white;
}

body{
    font-family: 'Poppins', sans-serif;
    background-image: url('images/pexels-errin-casano-2356071.jpg');
    /*opacity: 0.9;*/
    background-size: cover;
    background-repeat: no-repeat;
}

.container3{
    text-align: center;
}

.container4{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: justify;
    padding: 10px;
}

.footer{
    position: fixed;
    bottom: 0;
    height: 45px;
    width: 85%;
    flex-shrink: 0;
    text-align: center;
    background-color: white;
    color: black;
    opacity: 0.9;
    padding: 10px;
}

.toMono{
    text-decoration: none;
}

.toMono:hover {
    text-decoration: underline;
}